---
import Button from "../components/Button.astro";
// ProjectCard.astro
interface Props {
  imageSrc: string;
  title: string;
  description: string;
  visitUrl: string;
  githubUrl: string;
}

const { imageSrc, title, description, visitUrl, githubUrl } = Astro.props;
---

<div
  class="border-border border-4 shadow-light dark:shadow-dark rounded-base bg-main dark:bg-main rounded-lg p-8 min-w-sm w-1/2"
>
  <div class="bg-white rounded-lg overflow-hidden border-4 border-border">
    <img src={imageSrc} alt={title} class="w-full h-84 object-cover" />
  </div>
  <div class="mt-4">
    <h3 class="font-bold text-2xl text-text font-display">{title}</h3>
    <p class="text-sm text-gray-800 font-display">{description}</p>
  </div>
  <div class="flex mt-4 space-x-4 justify-between">
    <a href={visitUrl} target="_blank" rel="noopener noreferrer">
      <Button text="Visit"/>
    </a>
    <a href={githubUrl} target="_blank" rel="noopener noreferrer">
      <Button text="Github" />
    </a>
  </div>
</div>
